options:
  webhook-port:
    type: int
    default: 443
    description: Webhook port
  metrics-port:
    type: int
    default: 8080
    description: Metrics port
  custom_images:
    type: string
    # default: '{"default_trial_template": "", "early_stopping__medianstop": "", "enas_cpu_template": "", "metrics_collector_sidecar__stdout": "", "metrics_collector_sidecar__file": "", "metrics_collector_sidecar__tensorflow_event": "", "pytorch_job_template__master": "", "pytorch_job_template__worker": "", "suggestion__random": "", "suggestion__tpe": "", "suggestion__grid": "", "suggestion__hyperband": "", "suggestion__bayesianoptimization": "", "suggestion__cmaes": "", "suggestion__sobol": "", "suggestion__multivariate_tpe": "", "suggestion__enas": "", "suggestion__darts": "", "suggestion__pbt": ""}'
    default: | 
      default_trial_template: ''
      early_stopping__medianstop: ''
      enas_cpu_template: ''
      metrics_collector_sidecar__stdout: ''
      metrics_collector_sidecar__file: ''
      metrics_collector_sidecar__tensorflow_event: ''
      pytorch_job_template__master: ''
      pytorch_job_template__worker: ''
      suggestion__random: ''
      suggestion__tpe: ''
      suggestion__grid: ''
      suggestion__hyperband: ''
      suggestion__bayesianoptimization: ''
      suggestion__cmaes: ''
      suggestion__sobol: ''
      suggestion__multivariate_tpe: ''
      suggestion__enas: ''
      suggestion__darts: ''
      suggestion__pbt: ''
    description: >
      YAML or JSON formatted input defining images to use in Katib
      For usage details, see https://github.com/canonical/katib-operators.
