options:
  webhook-port:
    type: int
    default: 443
    description: Webhook port exposed by K8s
  metrics-port:
    type: int
    default: 8080
    description: Metrics port exposed by K8s
  custom_images:
    type: string
    default: |
      default_trial_template: ''
      default_trial_template_enas: ''
      default_trial_template_pytorch: ''
      early_stopping__medianstop: ''
      metrics_collector_sidecar__stdout: ''
      metrics_collector_sidecar__file: ''
      metrics_collector_sidecar__tensorflow_event: ''
      suggestion__random: ''
      suggestion__tpe: ''
      suggestion__grid: ''
      suggestion__hyperband: ''
      suggestion__bayesianoptimization: ''
      suggestion__cmaes: ''
      suggestion__sobol: ''
      suggestion__multivariate_tpe: ''
      suggestion__enas: ''
      suggestion__darts: ''
      suggestion__pbt: ''
    description: >
      YAML or JSON formatted input defining images to use in Katib
      For usage details, see https://github.com/canonical/katib-operators.
