{
  "StdOut": {
    "image": "{{ metrics_collector_sidecar__stdout }}"
  },
  "File": {
    "image": "{{ metrics_collector_sidecar__file }}"
  },
  "TensorFlowEvent": {
    "image": "{{ metrics_collector_sidecar__tensorflow_event }}",
    "resources": {
      "limits": {
        "memory": "1Gi"
      }
    }
  }
}
