{
  "random": {
    "image": "{{ suggestion__random }}"
  },
  "tpe": {
    "image": "{{ suggestion__tpe }}"
  },
  "grid": {
    "image": "{{ suggestion__grid }}"
  },
  "hyperband": {
    "image": "{{ suggestion__hyperband }}"
  },
  "bayesianoptimization": {
    "image": "{{ suggestion__bayesianoptimization }}"
  },
  "cmaes": {
    "image": "{{ suggestion__cmaes }}"
  },
  "sobol": {
    "image": "{{ suggestion__sobol }}"
  },
  "multivariate-tpe": {
    "image": "{{ suggestion__multivariate_tpe }}"
  },
  "enas": {
    "image": "{{ suggestion__enas }}",
    "resources": {
      "limits": {
        "memory": "200Mi"
      }
    }
  },
  "darts": {
    "image": "{{ suggestion__darts }}"
  },
  "pbt": {
    "image": "{{ suggestion__pbt }}",
    "persistentVolumeClaimSpec": {
      "accessModes": [
        "ReadWriteMany"
      ],
      "resources": {
        "requests": {
          "storage": "5Gi"
        }
      }
    }
  }
}
