charmed-kubeflow-chisme
lightkube
ops
# This is a requirement from the k8s_service_info library
# # pydantic>=2.7 requires rustc v1.76 or newer,
# which is not available in the base OS this charm has at the moment (Ubuntu 20.04).
# To avoid build-time errors, pydantic has to be pinned to a version that can be built
# with the rustc version that the OS can provide.
# Remove this pin when the base OS can install rustc v1.76 or newer.
pydantic>=2.6,<2.7
