# reusable workflow triggered by other actions
name: Tests

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
  schedule:
    - cron: '0 8 * * TUE'

  # Triggered on push by .github/workflows/release.yaml
  workflow_call:
    outputs:
      artifact-prefix:
        description: build_charm.yaml `artifact-prefix` output
        value: ${{ jobs.build.outputs.artifact-prefix }}
      charm-paths:
        description: paths for all charms in this repo
        value: ${{ jobs.get-charm-paths-track.outputs.charm-paths }}
      track:
        description: Charmhub track determined from branch name
        value: ${{ jobs.get-charm-paths-track.outputs.charm-channel }}

jobs:
  get-charm-paths-track:
    name: Get charm paths and track
    runs-on: ubuntu-latest
    outputs:
      charm-paths: ${{ steps.get-charm-paths.outputs.charm-paths }}
      track: ${{ steps.determine-track.outputs.track }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Get paths for all charms in this repo
        id: get-charm-paths
        uses: canonical/kubeflow-ci/actions/get-charm-paths@main
      - name: Determine track
        id: determine-track
        shell: python
        run: |
          import os
          
          if "${{ github.event_name }}" == "pull_request":
              ref = "${{ github.base_ref }}"
          else:
              ref = "${{ github.ref_name }}"
          
          if ref.startswith("track/"):
              track = ref.removeprefix("track/")
          else:
              track = "latest"
          
          with open(os.environ["GITHUB_OUTPUT"], "a") as f:
              f.write(f"track={track}\n")
          
          print(f"Track: {track}")

  lib-check:
    name: Check libraries
    needs:
      - get-charm-paths-track
    strategy:
      matrix:
        charm: ${{ fromJSON(needs.get-charm-paths-track.outputs.charm-paths) }}
    uses: canonical/charmed-kubeflow-workflows/.github/workflows/_quality-checks.yaml@main
    secrets: inherit
    with:
        charm-path: ${{ matrix.charm }}

  lint:
    name: Lint
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4
      - run: python3 -m pipx install tox
      - run: tox -e lint

  unit:
    name: Unit tests
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        charm:
          - katib-controller
          - katib-db-manager
    steps:
      - uses: actions/checkout@v4
      - run: python3 -m pipx install tox
      - run: tox -e ${{ matrix.charm }}-unit

  terraform-checks:
    name: Terraform
    uses: canonical/charmed-kubeflow-workflows/.github/workflows/terraform-checks.yaml@main
    needs:
      - get-charm-paths-track
    strategy:
      matrix:
        charm: ${{ fromJSON(needs.get-charm-paths-track.outputs.charm-paths) }}
    with:
      charm-path: ${{ matrix.charm }}

  build:
    strategy:
      matrix:
        charm: ${{ fromJSON(needs.get-charm-paths-track.outputs.charm-paths) }}
    name: Build charm | ${{ matrix.charm }}
    needs:
      - get-charm-paths-track
    uses: canonical/data-platform-workflows/.github/workflows/build_charm.yaml@v38.0.0
    with:
      path-to-charm-directory: ${{ matrix.charm }}
      cache: true

  release:
    strategy:
      matrix:
        charm: ${{ fromJSON(needs.get-charm-paths-track.outputs.charm-paths) }}
    name: Release charm to Charmhub branch | ${{ matrix.charm }}
    if: ${{ github.event_name == 'pull_request' }}
    needs:
      - get-charm-paths-track
      - build
    uses: canonical/data-platform-workflows/.github/workflows/release_charm_pr.yaml@v38.0.0
    with:
      track: ${{ needs.get-charm-paths-track.outputs.track }}
      artifact-prefix: ${{ needs.build.outputs.artifact-prefix }}
      path-to-charm-directory: ${{ matrix.charm }}
    secrets:
      charmhub-token: ${{ secrets.CHARMCRAFT_CREDENTIALS }}

  integration:
    name: Integration tests (microk8s)
    runs-on: ubuntu-24.04
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        charm:
          - katib-controller
          - katib-db-manager
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: pipx install tox

      - name: Setup environment
        run: |
          sudo apt-get remove -y docker-ce docker-ce-cli containerd.io
          sudo rm -rf /run/containerd
          sudo snap install concierge --classic
          sudo concierge prepare --trace

      - name: Download packed charm(s)
        id: download-charms
        timeout-minutes: 5
        uses: actions/download-artifact@v4
        with:
          pattern: ${{ needs.build.outputs.artifact-prefix }}-*
          merge-multiple: true

      - name: Integration tests
        run: |
          tox -vve ${{ matrix.charm }}-integration -- --model testing --charm-path=${{ github.workspace }}/charms/${{ matrix.charm }}/${{ matrix.charm }}_ubuntu@24.04-amd64.charm

      # Collect debug logs if failed
      - name: Dump Juju/k8s logs on failure
        uses: canonical/kubeflow-ci/actions/dump-charm-debug-artifacts@main
        if: failure()

      - name: Dump logs
        if: failure()
        uses: canonical/charming-actions/dump-logs@2.6.3

  test-bundle:
    name: Test the bundle
    runs-on: ubuntu-24.04
    needs:
      - build

    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Install dependencies
        run: pipx install tox

      - name: Setup environment
        run: |
          sudo apt-get remove -y docker-ce docker-ce-cli containerd.io
          sudo rm -rf /run/containerd
          sudo snap install concierge --classic
          sudo concierge prepare --trace

      - name: Download packed charm(s)
        id: download-charms
        timeout-minutes: 5
        uses: actions/download-artifact@v4
        with:
          pattern: ${{ needs.build.outputs.artifact-prefix }}-*
          merge-multiple: true

      - name: Run test
        run: |
          # Requires the model to be called kubeflow due to kfp-viewer
          juju add-model kubeflow
          tox -e bundle-integration -- --model kubeflow --charms-path=${{ github.workspace }}/charms/

      - name: Get pod statuses
        run: kubectl get all -A
        if: failure()

      - name: Get juju status
        run: juju status
        if: failure()

      - name: Get katib-controller workload logs
        run: kubectl logs --tail 100 -nkubeflow -lapp.kubernetes.io/name=katib-controller
        if: failure()

      - name: Get katib-controller operator logs
        run: kubectl logs --tail 100 -nkubeflow -loperator.juju.is/name=katib-controller
        if: failure()

      - name: Get katib-ui workload logs
        run: kubectl logs --tail 100 -nkubeflow -lapp.kubernetes.io/name=katib-ui
        if: failure()

      - name: Get katib-ui operator logs
        run: kubectl logs --tail 100 -nkubeflow -loperator.juju.is/name=katib-ui
        if: failure()

      - name: Get katib-db-manager workload logs
        run: kubectl logs --tail 100 -nkubeflow -lapp.kubernetes.io/name=katib-db-manager
        if: failure()

      - name: Get katib-db-manager operator logs
        run: kubectl logs --tail 100 -nkubeflow -loperator.juju.is/name=katib-db-manager
        if: failure()

      - name: Upload charmcraft logs
        uses: actions/upload-artifact@v4
        with:
          name: charmcraft-logs
          path: /tmp/charmcraft-log-*
        if: failure()
