# reusable workflow triggered by other actions
name: CI

on:
  workflow_call:
    secrets:
      CHARMCRAFT_CREDENTIALS:
        required: true

jobs:
  lib-check:
    name: Check libraries
    strategy:
      matrix:
        charm:
        - katib-controller
        - katib-db-manager
        - katib-ui
    uses: canonical/charmed-kubeflow-workflows/.github/workflows/_quality-checks.yaml@main
    secrets: inherit
    with:
        charm-path: ./charms/${{ matrix.charm }}

  lint:
    name: Lint
    runs-on: ubuntu-20.04

    steps:
    - name: Check out code
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        set -eux
        sudo apt update
        sudo apt install python3-setuptools
        sudo pip3 install black flake8

    - name: Check black
      run: black --check charms/*/src

    - name: Check flake8
      run: flake8 ./charms/*/src

  charm-integration:
    name: Integration tests (microk8s)
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        charm:
          - controller
    steps:
      - uses: actions/checkout@v3
      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          provider: microk8s
          channel: 1.24/stable
          juju-channel: 2.9/stable
          charmcraft-channel: latest/candidate

      # TODO: Remove once the actions-operator does this automatically
      - name: Configure kubectl
        run: |
          sg microk8s -c "microk8s config > ~/.kube/config"

      - run: |
          sg microk8s -c "tox -e ${{ matrix.charm }}-integration"

      # Collect debug logs if failed
      - name: Dump Juju/k8s logs on failure
        uses: canonical/charm-logdump-action@main
        if: failure()
        with:
          app: ${{ matrix.charm }}
          model: testing

  test-bundle:
    name: Test the bundle
    runs-on: ubuntu-20.04

    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@1.1.0
        with:
          provider: microk8s
          channel: 1.24/stable
          juju-channel: 2.9/stable
          bootstrap-options: "--agent-version=2.9.42"
          microk8s-addons: "dns storage rbac metallb:10.64.140.43-10.64.140.49"

      # TODO: Remove once the actions-operator does this automatically
      - name: Configure kubectl
        run: |
          sg microk8s -c "microk8s config > ~/.kube/config"
      - name: Run test
        run: |
          # Requires the model to be called kubeflow due to kfp-viewer
          juju add-model kubeflow --config default-series=focal
          tox -e bundle-integration -- --model kubeflow

      - name: Get pod statuses
        run: kubectl get all -A
        if: failure()

      - name: Get juju status
        run: juju status
        if: failure()

      - name: Get katib-controller workload logs
        run: kubectl logs --tail 100 -nkubeflow -lapp.kubernetes.io/name=katib-controller
        if: failure()

      - name: Get katib-controller operator logs
        run: kubectl logs --tail 100 -nkubeflow -loperator.juju.is/name=katib-controller
        if: failure()

      - name: Get katib-ui workload logs
        run: kubectl logs --tail 100 -nkubeflow -lapp.kubernetes.io/name=katib-ui
        if: failure()

      - name: Get katib-ui operator logs
        run: kubectl logs --tail 100 -nkubeflow -loperator.juju.is/name=katib-ui
        if: failure()

      - name: Get katib-db-manager workload logs
        run: kubectl logs --tail 100 -nkubeflow -lapp.kubernetes.io/name=katib-db-manager
        if: failure()

      - name: Get katib-db-manager operator logs
        run: kubectl logs --tail 100 -nkubeflow -loperator.juju.is/name=katib-db-manager
        if: failure()

      - name: Upload charmcraft logs
        uses: actions/upload-artifact@v3
        with:
          name: charmcraft-logs
          path: /tmp/charmcraft-log-*
        if: failure()
